* {
  padding: 2px;
  margin: 2px;
}
body {
  background-color: burlywood;
}
nav {
  background-color: rgb(49, 134, 102);
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  padding: 10px;
  margin-left: 10px;
  border: 8px;
  font-size: large;
  font-weight: 500;
}
.edu ul li {
  font-weight: bold;
}
.one {
  background-color: rgb(150, 135, 219);
}
