* {
  padding: 0;
  margin: 0;
}
nav {
  background-color: rgb(49, 134, 102);
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  padding: 10px;
  margin-left: 10px;
  font-size: large;
  font-weight: 500;
}
.profile {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(file:///home/wairimu/Documents/moringa-school-projects/my-portfolio/images/back.jpg);
  background-color: rgb(136, 179, 123);
}
.profile ul li {
  font-size: large;
  font-weight: bold;
}
.profile img {
  width: 400px;
  height: 450px;
}
.picture {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
}
.picture img {
  width: 400px;
  height: 450px;
}
