* {
  padding: 2px;
  margin: 2px;
}
nav {
  background-color: rgb(49, 134, 102);
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  padding: 10px;
  margin-left: 10px;
  border: 8px;
  font-size: large;
  font-weight: 500;
}
.profile {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: ;
}
.profile ul li {
  font-size: large;
  font-weight: bold;
}
.picture {
  position: relative;
  height: 100%;
  width: 50%;
  float: right;
}
.picture img {
  width: 400px;
  height: 450px;
}
